<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <nav>
        <a href="/hikes/new">Add a Hike!</a> or Click on the hikes Name below!!!</a>
      
       </nav>
     <form>
    <h1>My Hiking List</h1>
   <h2> 
       <div class="container"></div>
       <ul>
        <% allHikes.forEach(allHikes =>{ %>
            <a class="product-container" href="/hikes/<%=allHikes._id%>">
                <div class="data-container">
                    <li><%=allHikes.name%></li> <br/>
                    <img src="<%=allHikes.img%>" alt="<%=allHikes.name%>">
               
               
                <% }) %>  
               </ul>
    </h2></div>
</body>
</html>