<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>

<body>
    
    <nav>
        
        
        </a>
        <a href="/hikes">Back to Index</a>
        <a href="./<%= index %>/edit">Edit Hike</a>
    </nav>
     <h1><%= hike.name %></h1>
    <img src="<%=hike.img%>">
   <ul>Distance:<%= hike.distance%> </ul><br/>
            <ul>Comments:<%=hike.comments%></ul><br/>
        </p>
        <form action="/hikes/<%=hike._id%>?_method=DELETE" method="POST">
                <input class="delete-btn" type="submit" value="DELETE" />
    </form>
